# Removing duplicates

We remove duplicates to make data consistent and accurate.

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
# Creating data frame
DF_Object = DataFrame({'col1':[1,1,1,2,2,3,3],
                      'col2': ['a','b','b','b','c','c','c'],
                      'col3': ['A','B','B','B','C','C','C']})
DF_Object

   col1 col2 col3
0     1    a    A
1     1    b    B
2     1    b    B
3     2    b    B
4     2    c    C
5     3    c    C
6     3    c    C

In [4]:
# now we use .duplicated method to search for duplicate values in each row of the dataframe.
DF_Object.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
dtype: bool

In [5]:
# We can use drop_duplicates method to drop duplicate rows
DF_Object.drop_duplicates()

   col1 col2 col3
0     1    a    A
1     1    b    B
3     2    b    B
4     2    c    C
5     3    c    C

In [7]:
# If we want to keep only unique rows based on a particular column
DF_Object.drop_duplicates('col3')

   col1 col2 col3
0     1    a    A
1     1    b    B
4     2    c    C