# Using Pandas Library of Python
Pandas Library

It is a Python library built on top of NumPy. It is thus useful for working with matrices or arrays.
Why Pandas Library?

It has several use cases. Some are listed below -

1. Data Cleaning
2. Data Preparation
3. Data Analysis
4. Data Visualization
5. Data Mining/Machine Learning

Basics of Pandas Library

1. Index - Its a unique row or column identifier. eg. [] or .ix indexer
2. DataFrame - Its an object like excel table consisting of rows and columns
3. Operators - They represent airthmatic operators like <>,<,==,=,!=,etc.

#Filtering and Data selection

In [1]:
# Import packages
import numpy as np
import pandas as pd

# In Pandas, arrays and matrices are referred as Series and DataFrame
from pandas import Series, DataFrame

In [2]:
# Now we create an array or basically a series object and use series() constructor 
# Inside constructor we create a series using numpy's arange function as below
Series_Object = Series(np.arange(4))
Series_Object # Print the contents of the array

0    0
1    1
2    2
3    3
dtype: int32

In [3]:
# Lets try to modify the object and add index
Series_Object = Series(np.arange(4), index = ['row1','row2','row3','row4'])
Series_Object

row1    0
row2    1
row3    2
row4    3
dtype: int32

In [4]:
# Retrieve the contents of row3
# here we use row3 index
Series_Object['row3']

2

In [5]:
# Retrieving the contents of row3 but using integer index
Series_Object[2]

2

In [6]:
# Special Indexer of Pandas

In [7]:
# It is used over DataFrame object hence we first create a DataFrame object using DataFrame() constructor
# First we generate random numbers 
# Then we create data frame with indexes for rows and columns; reshape is to specify matrix size
np.random.seed(4)
DataFrame_Object = DataFrame(np.random.rand(36).reshape(6,6), index = ['row1','row2','row3','row4','row5','row6'], columns = ['Col1','Col2','Col3','Col4','Col5','Col6'])
DataFrame_Object

          Col1      Col2      Col3      Col4      Col5      Col6
row1  0.967030  0.547232  0.972684  0.714816  0.697729  0.216089
row2  0.976274  0.006230  0.252982  0.434792  0.779383  0.197685
row3  0.862993  0.983401  0.163842  0.597334  0.008986  0.386571
row4  0.044160  0.956653  0.436147  0.948977  0.786306  0.866289
row5  0.173165  0.074949  0.600743  0.167972  0.733380  0.408444
row6  0.527909  0.937572  0.521696  0.108193  0.158223  0.545203

In [10]:
DataFrame_Object.loc[['row1', 'row5'],['Col2','Col3']]

          Col2      Col3
row1  0.547232  0.972684
row5  0.074949  0.600743

#Data Slicing

In [11]:
# Slicing is we take out desired chunks from the data set
# we can pass 2 indexes to retrieve the data in between the 2 values specified in the indexes
Series_Object['row1':'row3'] # Colon is used and not comma.

row1    0
row2    1
row3    2
dtype: int32

In [12]:
# we can use comparison operators and scalar quantities to filter
DataFrame_Object < 0.3

       Col1   Col2   Col3   Col4   Col5   Col6
row1  False  False  False  False  False   True
row2  False   True   True  False  False   True
row3  False  False   True  False   True  False
row4   True  False  False  False  False  False
row5   True   True  False   True  False  False
row6  False  False  False   True   True  False

In [13]:
# To find all rows that have values greater than a number
Series_Object[Series_Object >1]

row3    2
row4    3
dtype: int32

In [14]:
# Setting values with Scalars
Series_Object['row1']=100
Series_Object

row1    100
row2      1
row3      2
row4      3
dtype: int32